{% extends request.is_ajax|yesno:"arctic/base_dialog.html,arctic/base.html" %}

{% load i18n staticfiles arctic_tags %}

{% block content %}
    {% block list_content %}
        {% include "arctic/partials/base_data_table.html" %}
        {% block extra_data %}{% endblock %}
    {% endblock %}
{% endblock %}


{% block scripts_bottom %}
    {{ block.super}}
    <script>
        $("input[name=select_across]").on("click",function(){
            $("input[name=_selected_action]").prop("checked",$(this).prop("checked"));
        });
    </script>
{% endblock %}